/* footer
********************************************/
@use "../abstracts/" as *;

footer {
  background: var(--darkgrey);
  color: #fff;
  padding: 0;
  padding-top: 1.5em;
  font-size: 1.2rem;
  margin: 0;
}
footer p {
  font-family: "KG Red Hands", sans-serif;
  font-weight: normal;
}
footer h3 {
  text-align: left;
}
.footer-container {
  margin: 0 0.8em;
  padding-top: 0em;
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.footer-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer ul {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 1em;
  padding: 0;
}
footer li {
  width: max-content;
}
.contact-links a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-icon {
  color: #fff;
  height: 2em;
  margin: 0.2em;
  margin-right: 1em;
}

@media (min-width: 40rem) {
  .footer-container {
    margin: 0 2em;
  }
}
@media (min-width: 40rem) {
  .footer-container {
    flex-direction: row;
    gap: 3em;
  }
  .footer-col {
    justify-content: center;
  }
  footer ul {
    gap: 0.5em;
    grid-template-columns: repeat(1, auto);
  }
}
@media (min-width: 60rem) {
  footer ul {
    grid-template-columns: repeat(2, auto);
  }
}
