@font-face {
    font-family: 'KG Red Hands';
    src: url('../../../public/fonts/kgredhands.woff2') format('woff2'),
         url('../../../public/fonts/kgredhands.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Quicksand';
    src: url('../../../public/fonts/Quicksand-Light.woff2') format('woff2'),
        url('../../../public/fonts/Quicksand-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}